#red,#green,#blue
{
    height: 50px;
    width: 50px;
    margin: 10px;
}
#red
{
    background: red;
}
#green
{
    background: green;
}
#blue
{
    background: blue;
}

.item 
{
    background-color: rgb(170, 170,170);
}
.selected 
{
    background-color: magenta;
}
.menu 
{
    border-style: ridge;
} 